body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

.nav-item {
  flex-basis: auto;
}

.navbar {
  background-color: #fff; 
}

.nav-link {
  padding: .5rem 1rem;
}

.container-fluid {
  padding-left: 5px;
  padding-right: 5px; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  position: relative;
  min-width: 250px;
  width: calc(33% - 20px);
  max-width: 100px;
  height: 320px;
  background: none;
  border-radius: 10px;
  margin: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card #thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card .flipper {
  transform: rotateY(180deg);
}

.card .thefront,
.card .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
}

.card .thefront {
  background: #90ff28;
  color: #000;
}

.card .theback {
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.card .thefront h1,
.card .thefront h2,
.card .thefront h3,
.card .thefront h4,
.card .thefront h5,
.card .thefront h6,
.card .theback h1,
.card .theback h2,
.card .theback h3,
.card .theback h4,
.card .theback h5,
.card .theback h6,
.card .thefront p,
.card .theback p {
  font-family: 'zilla slab', sans-serif;
  padding: 10px 20px;
  text-align: center;
}

/* Default Styles */
.card {
  flex-basis: 300px;
  max-width: 300px; 
}

/* Tablet Styles */
@media (max-width: 1000px) {
  .card {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
} 

/* Mobile Styles */  
@media (max-width: 600px) {
  .card {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}
